* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #f7f4f4;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav a {
  padding-left: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(2, 16, 73);
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: lightblue;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.nav__link a:hover {
  background-color: rgb(116, 149, 110);
  border-radius: 3px;
}

.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

}